/* body, html {
  height: 100%;
  margin: 0;
} */
body {
  background-image: url("../img/image_2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placeOne, .placeTwo {
  color: blue;
}

#seattle {
  display: none;
}

#colorado {
  display: none;
}
.jumbotron{
  text-align: center;
  color: blue;
  background-color: lightblue;
}
